Taken from: <a href="https://www.html5rocks.com/en/tutorials/webcomponents/template/">https://www.html5rocks.com/en/tutorials/webcomponents/template/</a>
<br>

<button onclick="useIt()">Use me</button>
<div id="container"></div>
<script>
  function useIt() {
    var content = document.querySelector('template').content;

    var span = content.querySelector('span');
    span.textContent = parseInt(span.textContent) + 1;
    document.querySelector('#container').appendChild(
        document.importNode(content, true));
  }
</script>

<template>
  <div>Template used: <span>0</span></div>
</template>
